
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


#admin-page {
  padding-top: 0px;
}

#nested-comment {
  margin-top: 50px;
}

.comment-reply {
  display: none;
}